<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">O</a>
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/shoping-cart" (click)="isMenuCollapsed = true">Shoping Cart</a>
				</li>
        <ng-template #elseBlock>
          <li>
            <a class="nav-link" routerLink="/login" >Login</a>
          </li>
        </ng-template>

			</ul>
        <div class="navbar-nav drop">
          <li ngbDropdown *ngIf="user$ | async as user; else elseBlock" class="nav-item dropdown drop">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.displayName}}
            </a>
            <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-light">
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/my/orders">My orders</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a></li>
              <li><a ngbDropdownItem class="dropdown-item logout" (click)="logout()">Log Out</a></li>
            </ul>
          </li>
        </div>

		</div>
	</div>
</nav>

